<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="false"/>
    <setting name="aggressiveLazyLoading" value="false"/>
    <setting name="useColumnLabel" value="true"/>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
    <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
    <setting name="defaultExecutorType" value="SIMPLE"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="localCacheScope" value="SESSION"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <setting name="logImpl" value="COMMONS_LOGGING"/>
  </settings>

  <typeAliases>
    <typeAlias alias="UUID" type="java.util.UUID"/>
    <typeAlias alias="DbRecipe" type="us.weizman.adam.recipeApi.db.RecipeDao$DbRecipe"/>
    <typeAlias alias="DbIngredient" type="us.weizman.adam.recipeApi.db.RecipeDao$DbIngredient"/>
    <typeAlias alias="DbCategory" type="us.weizman.adam.recipeApi.db.RecipeDao$DbCategory"/>
    <typeAlias alias="DbDirection" type="us.weizman.adam.recipeApi.db.RecipeDao$DbDirection"/>
  </typeAliases>

  <typeHandlers>
    <typeHandler javaType="UUID" handler="us.weizman.adam.recipeApi.util.UuidTypeHandler"/>
  </typeHandlers>

  <environments default="default">
    <environment id="default">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="com.amazonaws.secretsmanager.sql.AWSSecretsManagerPostgreSQLDriver" />
        <property name="url" value="${secretsManagerArn}"/>
        <property name="username" value="${secretsManagerArn}"/>
        <property name="password" value="${secretsManagerArn}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="us/weizman/adam/recipeApi/db/RecipeDao.xml"/>
  </mappers>
</configuration>